/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
  font-family: arial, sans-serif;
  background: #FF9400;
  color: #0D3D54;
  text-align: center;
 }
 
 #main {
  width: 850px;
  margin: 0 auto;
 }
 
 .level {
  padding: 5px;
  width: 260px;
  float: left;
 }
 
 .name {
  margin: 5px;
  font-size: 1.5em;
  text-transform: capitalize;
  background: #0D3D54;
  color: #F6911D; 
 }
 
 .level:hover {
  border: 1px solid yellow;
 }
 
 h1 {
  font-size: 2.5em;
 }
 
 h3 {
  font-size: 2em;
  margin-top: 50px;
 }
 
 .wrapper {
  width: 100%;
 }
 
 .bigimage img {
  width: 940px;
  height: 710px;
  float: left;
  border: 1px solid #0D3D54;
 }
 
 .characterimage {
  width: 100px;
  float: left;
  margin-left: 50px;
 }
 
 .characterimage h3 {
  margin: 0;
  padding: 0;
 }
 
 .char p {
  font-size: 1.2em;
  margin-bottom: 5px;
 }
 
 .thumbnail img {
  width: 60px;
  border: 1px solid #0D3D54;
 }
