/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
  font-family: arial, sans-serif;
  background: #FF9400;
  color: #0D3D54;
  text-align: center;
 }
 
 #main {
  width: 850px;
  margin: 0 auto;
 }
 
 .level {
  padding: 5px;
  width: 260px;
  float: left;
 }
 
 .name {
  margin: 5px;
  font-size: 1.5em;
  text-transform: capitalize;
  background: #0D3D54;
  color: #F6911D; 
 }
 
 .level:hover {
  border: 1px solid yellow;
 }
 
 h1 {
  font-size: 2.5em;
 }
 
 h3 {
  font-size: 2em;
  margin-top: 50px;
 }
 
 .wrapper {
  width: 100%;
 }
 
 .bigimage {
  position: relative; 
 }
 
 .bigimage img {
  width: 940px;
  height: 710px;
  float: left;
  border: 1px solid #0D3D54;
 }
 
 .square {
  position: absolute;
  width: 25px;
  height: 40px;
  border: 1px solid #0D3D54;
  background: rgba(255, 255, 255, 0.7);
 }
 
 .characterimage {
  width: 100px;
  float: left;
  margin-left: 50px;
 }
 
 .characterimage h3 {
  margin: 0;
  padding: 0;
 }
 
 .char p {
  font-size: 1.2em;
  margin-bottom: 5px;
 }
 
 .char {
  position: relative;
 }
 
 .thumbnail img {
  width: 60px;
  border: 1px solid #0D3D54;
 }
 /* I think there is a better way to do this without hardcoding it, but how? */
 .waldo .checkmark,
 .wenda .checkmark,
 .wizard .checkmark,
 .odlaw .checkmark {
  position: absolute;
  display: none;
  left: 15px;
  bottom: 0;
 }
 
 .waldo .checkmark img,
 .wenda .checkmark img,
 .wizard .checkmark img,
 .odlaw .checkmark img {
  border: none;
  width: 60px;
  height: 100px;
 }
 
 #gameover {
  display: none;
  position: absolute;
  left: 350px;
  top: 350px;
  background: rgba(255, 148, 0, 0.8);
  border: 1px solid #0D3D54;
  width: 300px;
  height: 200px;
 }
 
 #gameover p {
  font-size: 2.5em;
  font-weight: bold;
 }
 
 #gameover a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px;
  background: #0D3D54;
  color: #FF9400;
 }
 
 #gameover a:hover {
  border: 1px solid yellow;
 }
 
 .scores {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
 }
 
 .playername, .score {
  width: 50%;
  float: left;
 }
 
 .again {
  margin-top: 30px;
  clear: both;
 }
 
 .again a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px;
  background: #0D3D54;
  color: #FF9400;
 }
 
 .again a:hover {
  border: 1px solid yellow;
 }
 
 #newentry {
  clear: both;
  font-size: 1.5em;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
 }
 
 form {
  font-size: .8em;
  line-height: 2;
 }

 input {
  display: block;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  margin: 8px auto;
  height: 34px;
  width: 300px;
 }

 input[type=submit] {
  font-size: 1em;
  padding: 5px;
  width: 200px;
  background: #0D3D54;
  color: #FF9400;
 }
